ESI/TP01_15475_16537/PentahoDI_Project/Validators/imdb-movie-titles.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT Titles (Title)+>
<!ELEMENT Title (id, titleType, primaryTitle, isAdult, startYear, runtimeMinutes, genre*)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT titleType (#PCDATA)>
<!ELEMENT primaryTitle (#PCDATA)>
<!ELEMENT isAdult (#PCDATA)>
<!ELEMENT startYear (#PCDATA)>
<!ELEMENT runtimeMinutes (#PCDATA)>
<!ELEMENT genre (#PCDATA)>